<!DOCTYPE html>
<html lang="en" xmlns:th="wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>

</head>
<body>
<div clas="container-fluid">
    <h1 class="display-1" style="text-align: center">Crabcake Recipe</h1>
    <div style="text-align: center;">
    <img src="https://www.publicdomainpictures.net/pictures/150000/velka/crab-cakes-1454616650zU4.jpg"
         width="75%" height="50%" alt="Crabcakes"></div>
    <h2 style="text-align: center">Ingredients:</h2>
    <div class="row">
        <div class="col" style="background-color:lavender;"><li>1 lb. jumbo lump or backfin crab meat</li>
            <li>2 slices bread or bread crumbs</li></div>
        <div class="col" style="background-color:lavender;"><li>1 tbsp. mayonnaise (light or regular)</li>
            <li>1 tbsp. Dijon mustard</li></div>
        <div class="col" style="background-color:lavender;"><li>2 tsp. Old Bay seasoning</li>
            <li>1 tbsp. snipped parsley </li></div>
        <div class="col" style="background-color:lavender;"><li>1 egg (or substitute for special diets)</li>
            <li>tartar sauce or cocktail sauce</li></div>
    </div>
   <h2 style="text-align: center">Directions:</h2>
    <p>Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces
        to the egg. Mix in the mayonnaise, Dijon mustard, Chesapeake seasoning and parsley, and beat well.</p>
    <p>Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together,
        taking care not to break up the lumps of crabmeat.</p>
    <p>Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not
        like a meatball or golf ball. Place the cakes in the refrigerator for at least 45 minutes before cooking.
        This is very important so the cakes don't fall apart.</p>

    <h2 style="text-align: center">Broil the Crab Cakes:</h2>
    <p>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on
        each side.</p>

    <h2 style="text-align: center">Or saute:</h2>
    <p>Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden
        brown or about 8 minutes total cooking time.</p>

    <p>Serve at once with tartar sauce, mustard, or cocktail sauce on the side.</p>

    <p class ="font-weight-bold">Serves 6 people</p>

</div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>